*{
	margin:0px;
	padding:0px;
}

html,body{
	padding:0px;
	margin-top:-4px;
}

#footerinfo {
	 margin:0 auto;
	 width: 960px;
	 height: 20px;
	 position: relative;
	 text-align:center;
}

#wrapper {
	margin:0 auto;
	width: 960px;
	min-height:100%;
	position: relative;}
	
header {
	margin-left:600px;
	margin-top:30px;
	height:40px;
}

h1{
	font-family: 'helvetica_neue_lt_pro45_light';
	color: #E6E7E8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 13px;
	font-weight:normal;
	float:right;
}

h2{
	font-family: 'helvetica_neue_lt_pro45_light';
	color: #6D6E70;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight:normal;
	font-size: 25px;
}

body{
	
	font-family: 'helvetica_neue_lt_pro45_light';
	color: #6D6E70;
	margin-top:20px;
	font-weight:normal;
	font-size: 13px;
}

#content{
	width: 700px;
	height: 360px;
	margin-left: 35px;
	float:left;
	}

h3{
	font-family: 'helvetica_neue_lt_pro45_light';
	color: black;
	font-size: 12pt;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight:normal;
	
}

aside{
	width: 125px;
	height: 300px;
	float:left;
}


nav a{
	font-family: 'helvetica_neue_lt_pro45_light';
	color: #6D6E70;
	font-size: 11pt;
	line-height:30px;
	list-style-type: none;
	text-decoration:none;
	padding-right:20px;
}

nav a.selected, nav li a:hover{
	background-image:url(../img/sprite2.png);
	background-repeat:no-repeat;
	background-position:90% 0;
	transition: background-position 0.3s;
}

nav li{
	list-style-type: none;
	text-decoration:none;
}

#photos{
	width: 810px;
	height: 500px;
	/*margin-left: 160px;
	margin-top: -300px;*/
	float:left;
	padding-left:25px;
	
}
#contactinfo{
	width:200px;
	height: 350px;
	float:left;
}
#formulier{
	margin-top: 40px;
	margin-left: 50px;
	float:left;
	width:200px;
	height: 350px;
	font-size:12px;
}
#formulier label, input {
	margin-top:7px;
	margin-bottom: 7px;
}
#formulier textarea{ 
	width:153px;
	height: 40px;
	margin-top:10px;
	margin-bottom: 10px;
	}
	
#formulier input[type=radio]{
	margin-right:6px;}

#copyright{
	font-family: 'helvetica_neue_lt_pro45_light';
	color: #B6B8BA;
	font-size: 9pt;
	clear: both;
	padding-top: 50px;
	margin:0 auto;
	 width: 960px;
	 position: relative;
}

.fancybox{
	margin-right: 7px;
	margin-top: 20px;
}

/*Slides*/
	#slides {
      display:none;
	  width: 293px;
	  height: 400px;
	  padding-left: 35px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
	  text-decoration:none;
	  margin-top:5px;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
	  text-decoration:none;
	  margin-top:5px;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #E6E7E8
    }

    #slides a:hover,
    #slides a:active {
      color: #D6D6D6
    }

    .navbar {
      overflow: hidden
    }
/*TYPO*/

@font-face {
    font-family: 'helvetica_neue_lt_pro45_light';
    src: url('../font/helveticaneueltpro-lt-webfont.eot');
    src: url('../font/helveticaneueltpro-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneueltpro-lt-webfont.woff') format('woff'),
         url('../font/helveticaneueltpro-lt-webfont.ttf') format('truetype'),
         url('../font/helveticaneueltpro-lt-webfont.svg#helvetica_neue_lt_pro45_light') format('svg');
    font-weight: normal;
    font-style: normal;

}